/* about us start */
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:ital@1&family=Prata&family=Source+Sans+Pro:ital,wght@1,600&display=swap');
.about{
  color: #26945F;
  text-transform: uppercase;
}
.section-a{
  color: #26945F;
}
.section-b{
  color: #FCA625;
}
.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: 'Nunito', sans-serif;
}
/* about us end */