 /* navbar start */
 .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* padding: 0.5rem 1rem; */
  }
  .navbar-nav{
    display: flex;
    /* padding: 10%; */
    margin: 1.5%;
    font-size: 1.5rem;
    font-family: sans-serif;
    align-items: center;
    flex-direction: column;
  }
  .mr-auto, .mx-auto{
    margin-right: auto;
  }
  .nav-item:hover{
    background: #FCA625;
  }
  .section-c{
    color: #FCA625;
  }
  .display-5{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
  
  }
  @media(min-width:992px){
    .navbar-expand-lg, .navbar-collapse{
      display: flex;
      flex-basis: auto;
    }
  }
  /* navbar end */   


  /* landing page start */
/* *{
    margin: 0%;
    padding: 0%;
    } */
    
    #cat-h5, #dog1-h5, #dog2-h5{
        zoom: 300%;
        top: 0%;
        bottom: auto;
    }
    
    #dog2-h5{
        color: #000;
        zoom: 200%;
    }
    #dog1-h5{
        color: #000;
        zoom: 180%;
    }
        /* #cat, #dog1, #dog2{
        height: 700px;
        opacity: 0.9;
        } */
    
        /* span{
            color: #000;
        } */
    
    /*landing page end */

    /* Form start */
#form-div {
    background-color: #fca625;
    padding: 8%;
    padding-top: 4%;
  }
  #on-vacation-h6 {
    color: #26945f;
    position: absolute;
    width: 283px;
    height: 35px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
  #booking-p {
    position: absolute;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    height: 60px;
  }
  #your-pet,
  #book-h1 {
    position: absolute;
    width: 552px;
    height: 68px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
  }
  #your-pet {
    color: #fca625;
  }
  #exampleInputName1,
  #exampleInputEmail1,
  #exampleInputName2,
  #exampleInputName3,
  #exampleInputName4,
  #exampleSelect1,
  #btn-submit {
    width: 400px;
    padding: 3%;
  }
  #form-services-div {
    padding: 4%;
    background-color: #e5e5e5;
  }
  #sit,
  #walk,
  #board,
  #groom {
    padding: 3%;
    text-align: center;
    font-size: smaller;
  }
  
  /* Form end */


  /* About us start */
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:ital@1&family=Prata&family=Source+Sans+Pro:ital,wght@1,600&display=swap');
 .about{
   color: #26945F;
 }
 .section-a{
   color: #26945F;
 }
 .section-b{
   color: #FCA625;
 }
 .display-4 {
   font-size: 3.5rem;
   font-weight: 300;
   line-height: 1.2;
   font-family: 'Nunito', sans-serif;
 }
 @media (max-width: 1200px) {
   .display-4 {
     font-size: calc(1.475rem + 2.7vw) ;
   }
 }
 /* About us end */