.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }


h5, .h5 {
  font-size: 1.25rem;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }


  /* navbar start */
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar-nav{
  display: flex;
  padding: 10%;
  margin: 1.5%;
  font-size: 1.5rem;
  font-family: sans-serif;
  align-items: center;
  flex-direction: column;
}
.mr-auto, .mx-auto{
  margin-right: auto;
}
.nav-item:hover{
  background: #FCA625;
}
.section-c{
  color: #FCA625;
}
.display-5{
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;

}
@media(min-width:992px){
  .navbar-expand-lg, .navbar-collapse{
    display: flex;
    flex-basis: auto;
  }
}
/* navbar end */



